.nav-link{
    color: white !important;
}

.nav-link:hover{
    color: yellow !important;
    background-color: lightblue;
    border-radius:10px ;
}
.rounded{

border-top: 8px solid lightblue;
font-weight: bold;
}
.navbar-brand:hover{
    color: yellow !important;
    font-weight: bold;
}


.mydivstyle:hover{
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
    transform: translateY(-20px);
}

